<div class="container">
  <div class="row">
    <div class="sidebar-main">
      {{render 'feeds_list' model}}
      {{render 'new_feed_form'}}
    </div>
    <div class="content-main">
      {{outlet}}
    </div>
  </div>
</div>
