<h1>You are reading {{title}}</h1>
<div class="feed-entries">
  <ul>
    {{#each entry in entries}}
      <li>
        {{entry-preview feed=model entry=entry}}
      </li>
    {{/each}}
  </ul>
</div>
